<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.demo_photo.dao.MemberMapper">
	
	<select id="selectList" resultType="member"><!-- MemberVo -->
		select * from member order by mem_idx
	</select>

	<select id="selectOneFromIdx" resultType="member" parameterType="int">
		select * from member where mem_idx=#{ mem_idx }
	</select>

	<select id="selectOneFromId" resultType="member" parameterType="String">
		select * from member where mem_id=#{ mem_id }
	</select>

	<insert id="insert" parameterType="member">
		insert into member values(null,
								  #{ mem_name },
								  #{ mem_id },
								  #{ mem_pwd },
								  #{ mem_zipcode },
								  #{ mem_addr },
								  #{ mem_ip },
								  default,
								  default)
	</insert>

	<delete id="member_delete" parameterType="int">
		delete from member where mem_idx=#{ mem_idx }
	</delete>
	
    <update id="update" parameterType="member">
		update member set mem_name=#{ mem_name },
						  mem_id=#{ mem_id }, 
						  mem_pwd=#{ mem_pwd }, 
						  mem_zipcode=#{ mem_zipcode }, 
						  mem_addr=#{ mem_addr }, 
						  mem_grade=#{ mem_grade } 
						  where mem_idx=#{ mem_idx }
	</update>
</mapper>
